
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header"><strong>Product Permissions</strong> </div>

    <div class="card-body">

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="select1">Select Role</label>
        <div class="col-md-4">
          <select class="form-control"  id="ddlrole" name="ddlrole" [(ngModel)]="selectedRole" (change)="onRoleChange($event.target.value)">
            <!--<option value="" disabled selected>Please select Role</option>-->
            <option *ngFor="let role of roles ; index as i; first as isFirst" value="{{role.id}}">{{role.name}}</option>
          </select>
        </div>
      </div>



      <div *ngIf="items.length>0" class="row">
        <div class="col-md-6">
          <ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
            <div class="form-inline row-item">
              <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa" [class.fa-caret-right]="item.collapsed"
                 [class.fa-caret-down]="!item.collapsed"></i>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="item.checked" (ngModelChange)="onCheckedChange()" [disabled]="item.disabled"
                       [indeterminate]="item.indeterminate" />
                <label class="form-check-label" (click)="item.checked = !item.checked; onCheckedChange()">
                  {{item.text}}
                </label>
              </div>
            </div>
          </ng-template>


          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <div class="">
                  <ngx-treeview [items]="items" [itemTemplate]="itemTemplate" (selectedChange)="onSelectedChange($event)">
                  </ngx-treeview>
                </div>
              </div>
            </div>
            <div class="col-6">
              <!--<div class="alert alert-success" role="alert">
                Selected Product Permission:
                <div *ngFor="let row of rows">{{row}}</div>
              </div>-->
            </div>
            

          </div>
        </div>
      </div>
    </div>

    <div *ngIf="items.length>0" class="card-footer">
      <button class="btn btn-sm btn-primary" type="submit" (click)="updatePermission()">
        <i class="fa fa-dot-circle-o"></i> Submit
      </button>
      <button class="btn btn-sm btn-danger" type="reset" (click)="reset()"><i class="fa fa-ban"></i> Reset</button>
    </div>
    <div class="row">
      <alert></alert>
    </div>
  </div>
</div>
