
<div class="modal-header">
  <h4 class="modal-title" id="modal-message-label">
    <span id="modal-message-title" class="header-text-color">
    <span class="text-default">
      <span class="fa fa-check">&nbsp;{{title}}</span></span>
    </span>
  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div id="modal-message-body">
    <span class="text-success"><span class="fa fa-check-square"></span>&nbsp;{{message}}</span></div>
</div>
